
       
                <div class="col-md-3 text-center">
                   <img src="{{ service_image }}" class="w-50" alt="">
                   
                   <h4 class="mt-3">{{ service_name }}</h4>
                   <a href="" class="btn btn-primary mt-3">More information</a>
                    {# <div class="card service-card font-montserrat text-center">
                        <img src="{{ service_image }}" class="card-img-top" alt="">
                        <div class="card-body text-bg-blue">
                            <h4 class="card-title">{{ service_name }}</h4>
                            <p class="card-text">{{ service_overview }}</p>
                         
                        </div>
                        <div class="card-footer text-bg-blue">
                           <a href="" class="btn btn-primary">More information</a>
                        </div>
                    </div> #}
                </div>
              
 